.mycolor{
	width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer; 
 
}
.mycolor.black-color {
	background-color: #435065;
}
.mycolor.red-color {
	background-color: #ff0000;
}
.mycolor.orange-color {
	background-color: #ffa500;
}
.mycolor.cyan-color {
	background-color: #00ffff;
}
.mycolor.pink-color {
	background-color: #ff6eb4;
}
.mycolor.green-color {
	background-color: #00ee00;
}
.mycolor.brown-color {
	background-color: #a52a2a;
}
.mycolor.white-color {
	background-color: #f5f5f5;
}
.mycolor.blue-color {
	background-color: #5300f4;
}
	